/* graphterm.css: default style sheet for graphterm index.html */

/* General styles */
.noshow {
    display: none;
}

html, body {
    height: 100%;
}

/* Default styles */
body {
    background-color: #FFFFFF;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* Need font styling for both body and pre; otherwise pre styling will be overridden by useragent default */
body, pre, .gterm-prewrap {
    font-family: elite, courier, monaco, monospace;
    font-size: 16px;
}

body.bold, body.bold pre, body.bold .gterm-prewrap, body.bold td {
    font-weight: bold;
}

/* Body screen styles (with button label font sizes) */
body.smallscreen  {
    font-size: 12px;
}
body.mediumscreen {
    font-size: 14px;
}
body.largescreen  {
    font-size: 16px;
}
body.extralargescreen  {
    font-size: 18px;
}

body.ipadscreen  {
    /* font-weight: bold; */
}

/* Menubar styles */

#terminal:not(.gterm-menubar-hide):not(.gterm-altmode) #gterm-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#terminal #gterm-header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#gterm-header div#gterm-header-container {
    background-color: black;
    /* padding-bottom: 0.5em; */
}

#gterm-header div#session-topfold {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 0.6em;
    padding: 0;
    background: -webkit-gradient( linear, center top, center bottom, from(rgba(128,128,128,1.0)), to(rgba(255,255,255,0.0)) );
    background: -moz-linear-gradient( 90deg, rgba(255,255,255,0.0) , rgba(128,128,128,1.0));
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 0px;
}

#terminal.gterm-narrow .gterm-wide {
    display: none;
}

#terminal.gterm-menubar-hide #gterm-mid-padding {
    display: none;
}

.menubar-padding {
    height: 1.15em;
}

#terminal:not(.gterm-menubar-hide):not(.gterm-altmode) #gterm-mid {
    /* padding-top: 1.3em; */
}

#terminal.gterm-share:not(.gterm-webcast) .sf-menu #gterm-menu-users-count {
    color: red;
}

#terminal.gterm-webcast .sf-menu #menubar-sessionlabel-container,
#terminal.gterm-webcast .sf-menu #gterm-menu-users-count {
    background: #ff5555;
}

/* Generic element styles */
div, span, pre, .gterm-prewrap {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
 }

pre, .gterm-prewrap {
    line-height: 120%;
}

form {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
 }

hr {
    margin: 5px;
    padding-top: 0;
    padding-bottom: 0;
 }

/* Content Editable styles */

#session-log .input .command[contenteditable="true"]:not(.cursorhighlight) {
/*
    padding: 10px;
    outline: 3px dashed #CCC;
*/
 outline: none;
}

#session-screen .row *[contenteditable="true"]:not(.cursorhighlight),
#session-altscreen .row *[contenteditable="true"]:not(.cursorhighlight) {
/*
    padding: 10px;
    outline: 3px dashed #CCC;
*/
 /* outline: none; */
}

/*
*[contenteditable="true"]:hover {
    background: rgba(255, 255, 153, 1);
    outline: 3px dashed #0090D2;
}
*/

.sf-menu .gterm-logo {
    height: 20px;
    margin-top: 3px;
    margin-left: 3px;
}

#terminal.gterm-shortcut-mode div.gterm-notecell-output.gterm-notecell-markdown {
    border-width: 2px;
    border-color: gray;
    border-style: dashed;
}

/* Superfish styles */

#terminal.gterm-controller .sf-menu .gterm-non-controller,
 #terminal:not(.gterm-controller) .sf-menu .gterm-only-controller,
 #terminal.gterm-private .sf-menu .gterm-non-private,
 #terminal.gterm-locked .sf-menu .gterm-non-locked,
 #terminal:not(.gterm-locked) .sf-menu .gterm-only-locked,
 #terminal.gterm-notebook .sf-menu .gterm-non-notebook,
 #terminal:not(.gterm-notebook) .sf-menu .gterm-only-notebook,
 #terminal.gterm-embed .sf-menu .gterm-non-embed,
 #terminal:not(.gterm-embed) .sf-menu .gterm-only-embed,
 .menu-disabled {
    opacity: 0.35;
}

#terminal.gterm-notebook .sf-menu .gterm-non-notebook-show,
 #terminal:not(.gterm-notebook) .sf-menu .gterm-only-notebook-show
{
    display: none;
}

#terminal .sf-menu li {
    background-color: black;
    color: black;
}

#terminal .sf-menu li:hover,
#terminal .sf-menu li.sfHover,
#terminal .sf-menu li a:hover,
#terminal .sf-menu li a.sfHover {
    background: white;
    color: black;
}

#terminal .sf-menu li a {
    color: white;
    border: none;
}

#terminal .sf-menu li.gterm-menu-white {
    background-color: white;
    color: black;
}

#terminal .sf-menu li.gterm-menu-curved {
    border-radius: 15px;
    padding-right: 1px;
    padding-left: 1px;
    margin-left: 2px;
}
#terminal .sf-menu li.gterm-menu-curved a {
    border: none;
}

ul.sf-menu a[gterm-toggle="false"] span.gterm-toggle-status {
    opacity: 0.15;
}

#terminal.gterm-shortcut-mode .gterm-menukey-firstletter > li > a:not(.gterm-key-altletter):first-letter,
 #terminal.gterm-shortcut-mode a.gterm-key-firstletter:first-letter,
 #terminal.gterm-shortcut-mode .gterm-key-letter {
    text-decoration: underline;
    font-weight: bold;
}

hr.sf-separator {
    height: 2px;
    border: 1;
    box-shadow: inset 0 9px 9px -3px rgba(150,150,150,0.8);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    border-radius: 5px;
}

/* Override superfish CSS defaults */
#gterm-header ul.sf-menu {
    margin-bottom: 0.25em;
}

#gterm-header ul.sf-menu a {
    font-family: helvetica, sans-serif;
    padding: .25em 0.5em;
}

#gterm-header ul.sf-menu a.gterm-menu-img {
    padding: 0;
}

/* Screen styles */

#session-bufscreen pre {
    white-space: pre-wrap;
}

.row {
    display: block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.row .bold {
    font-weight: bold;
}

.row .inverse {
    background-color: lightgray;
}
.row.gterm-cell-input {
    background-color: #f5f5f5;
}

.row .cursorspan {
    display: inline-block;
    background-color: gray;
}

.row .cursorspan .cursorloc {
    display: inline-block;
    background-color: red;
}

.row .cursorspan.cursorhighlight .cursorloc {
    /* outline: 1px dashed #ccc; */
    background-color: lightblue;
}

.row .cmd-completion, .row .typeahead {
    opacity: 0.6;
}

.row.oldentry.gterm-hideoutput.promptrow .gterm-cmd-prompt {
    text-decoration: underline;
}

.row.oldentry.gterm-hideoutput:not(.promptrow),
  .oldentry.pagelet.gterm-hideoutput,
  .oldentry.gterm-notecell-buffered.gterm-hideoutput {
    display: none;
}

#session-bufscreen.fullpage .oldentry {
    display: none;
}

/* Show click styles */
.gterm-show-click {
    background-color: red;
}

#session-headermenu,
  #session-footermenu {
    background-color: lightgray;
}

#session-headermenu {
    border-bottom-style: none;
    border-bottom-color: gray;
    border-bottom-width: 2px;
}

#session-footermenu {
    margin-top: 4px;
    border-top-style: none;
    border-top-color: gray;
    border-top-width: 2px;
}

#session-headermenu span.gterm-headfoot-active,
#session-footermenu span.gterm-headfoot-active {
    text-decoration: underline;
}

span.boldstyle {
    font-weight: bold;
}

span.underlinestyle  {
    text-decoration: underline;
}

span.blinkstyle {
    font-weight: bold;
}

span.inversestyle {
    font-weight: bold;
}


.pagelet td {
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.pagelet a, .row a {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
 }

#session-bufellipsis h3 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
 }

/* Hyperlinks */
span.menubar-label, a.menubar-label {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

span.headfoot, span.headfoot-icon {
    color: blue;
    cursor: pointer;
    text-decoration: none;
    /* font-weight: bold; */
}

img.gterm-img {
    width: 32px;
    height: 32px;
}

.pagelet.gterm-fullwindow {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    opacity: 1.0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

body.mobilescreen .pagelet.gterm-fullwindow {
    height: 95%;
}

/* Widget */
#session-widgetcontainer {
    opacity: 1.0;
    z-index: 2000;
    position: fixed;
    top: 1.5em;
    right: 1em;
    width: 35%;
    height: 35%;
    overflow-y: scroll;
}

.session-term .session-feedback {
    opacity: 0.6;
    z-index: 2000;
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 5em;
    height: 1em;
    overflow: hidden;
}

.session-term:not(.gterm-feedback) .session-feedback {
    display: none;
}

img.gterm-fullimg {
    opacity: 1.0;
    z-index: 1000;
    width: 100%;
    min-height: 100%;
    height: auto;
}

img.gterm-blockimg {
    max-width: 100%;
    max-height: 100%;
}

.gterm-toggleblock:not(.gterm-togglehide) span.gterm-togglelink {
    display: none;
}

.gterm-toggleblock.gterm-togglehide img, .gterm-toggleblock.gterm-togglehide div {
    display: none;
}

span.gterm-link, a.gterm-link, span.gterm-help-link, span.gterm-togglelink {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

span.gterm-not-implemented {
    color: gray;
}

span.gterm-form-title {
    color: gray;
}

input.gterm-input-arg[type=text] {
    width: 75%;
}

#terminal {
    padding-bottom: 3px;
}

.gterm-iframe.gterm-border {
    border: 2px solid gray;
}

#terminal:not(.showicons) .pagelet .gterm-rowimg {
    display: none;
}

/* Notebook */

.gterm-notecell-container {
    margin-top: 5px;
}

textarea.gterm-notecell-text {
    width: 90%;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 2px;
    padding: 6px;
    font-family: inherit;
    font-size: inherit;
}

textarea.gterm-notecell-markup {
    border-style: dashed;
}

div.gterm-notecell-output.gterm-notecell-markdown,
 div.gterm-cell-input.gterm-notecell-markdown {
    font-family: helvetica, arial, sans-serif;
}

#terminal.gterm-noteslides.gterm-menubar-hide .gterm-header,
  #terminal.gterm-noteslides .session-bufscreen .row,
  #terminal.gterm-noteslides .session-bufscreen .gterm-notecell-buffered,
  #terminal.gterm-noteslides .pagelet-notebook .gterm-notecell-container:not(.gterm-noteslides-show) {
    display: none;
}

/* Screens */
#session-term:not(.split-screen) .session-screen, .session-altscreen {
    margin-bottom: 1.0em;
}

/* Split screen */
#session-term.split-screen #session-bufscreen,
 #session-term.split-screen #session-findercontainer {
    margin-bottom: 3em;  /* Should be dynamic (=session-screencontainer height) */
}

#session-term.split-screen.display-footer #session-bufscreen,
 #session-term.split-screen.display-footer #session-findercontainer {
    margin-bottom: 4em;  /* Should be dynamic (=session-screencontainer height) */
}

#session-term:not(.display-footer) #gterm-pre0 .gterm-cmd-prompt {
    text-decoration: underline;
}

#session-term:not(.display-footer) #session-footermenu {
    display: none;
}

#session-findercontainer {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 10em;
    width: 100%;
    padding-bottom: 1.0em;
    margin-bottom: 0;
    opacity: 0.5;
}

#session-finderbody {
    opacity: 1.0;
    background-color: white;
}

#session-term.split-screen #session-screencontainer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

#session-term.split-screen #session-screenfold {
    height: 0.6em;
    margin: 0;
    padding: 0;
    background: -webkit-gradient( linear, center bottom, center top, from(rgba(128,128,128,1.0)), to(rgba(255,255,255,0.0)) );
    background: -moz-linear-gradient( 90deg, rgba(128,128,128,1.0), rgba(255,255,255,0.0) );
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 0px;
}

#session-term:not(.split-screen) #session-screenfold {
    display: none;
}

#session-term.split-screen #session-screenfix {
    opacity: 1.0;
    background-color: white;
    margin: 0;
    padding-top: 0.25em;
    padding-bottom: 1.0em;
}

.gterm-iframe {
    border-style: none;
}

.gterm-iframeheader {
    color: #d00000;
}

#session-bufscreen.fullscreen .gterm-iframe.gterm-iframe-firstrow:not(.gterm-noheader) {
    margin-top: 0.0em;
}

#terminal:not(.gterm-embed) span.gterm-iframeexpand {
    display: none;
}

span.gterm-iframeexpand {
    position: absolute;
    top: 0px;
    left: 5px;
    padding: 2px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

span.gterm-iframeclose, span.gterm-popupclose, span.gterm-pastedirectclose {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 2px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

span.gterm-iframedelete {
    font-size: 1.3em;
    font-weight: bold;
    float: right;
    cursor: pointer;
    padding: 0;
}

/* Paste pop styles */
.gterm-pastedirect {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 9900;
    width: 100px;
    height: 1em;
    padding: 5px;
    background-color: rgba(255,255,255,0);
    border: none;
}

.gterm-pastedirect-content {
    width: 100px;
    height: 15px;
    outline: none;
}

.gterm-pastedirect-content:not(.gterm-paste-debug) {
    color:            rgba(255,255,255,0);
    background-color: rgba(255,255,255,0);
    border-color:     rgba(255,255,255,0);
}

.gterm-pastedirectheader {
    float: right;
    color: rgba(180,180,180,0.3);
}

/* Popup styles */
.gterm-popupmask {
    position: absolute;
    z-index: 9000;
    top: 0;
    left: 0;
    background-color: #000000;
}

.gterm-popup {
    position: absolute;
    width: 90%;
    z-index: 9900;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.gterm-popupnarrow {
    width: 70%;
}

.gterm-popupshrink {
    max-width: 90%;
    width: auto;
    background-color: #ffffff;
    moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
}

/* Splash style */
#gtermsplash {
    margin-top: 75;
    /*background: url(themes/stars-images/starry-night-PublicDomain-VeraKratochvil.jpg);
    background-repeat: repeat; */
    opacity: 0.9; 
    height: 100%;
}

#gtermsplashcontainer {
    color: black;
    background: -webkit-gradient( linear, center bottom, center top, color-stop(0.0, rgba(253,253,253,0.0)), color-stop(0.2, rgba(254,254,254,0.0)), color-stop(0.85, rgba(255,255,255,1.0)) );
    background: -moz-linear-gradient( 90deg, rgba(253,253,253,0.0) 0%, rgba(254,254,254,0.0) 20%, rgba(255,255,255,1.0) 85% );
    z-index: 200;
    padding: 10px;
}

span.gterm-splashclose {
    float: right;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

#gtermsplashcontainer .gtermsplashalt, #gtermsplashcontainer .gtermsplashalt a {
    color: #eeeeee; /*#ffdd00;*/
}

#gtermsplashdiv {
    position: relative;
    z-index: -1;
}

#gtermsplashdiv.gtermsplashanchor {
    position: inherit
}

#gtermsplashdiv img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 200px;
   margin-left: -100px;
}

#gtermsplashdiv.gtermsplashanchor img {
    position: fixed;
}

/* Drag-and-drop */

.gterm-filedrop
{
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 0.4em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}
.gterm-filedrop.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}
.gterm-filedrop-input {
    font-size: 120%;
    width: 80%;
}

/* Editor style */
#gterm-editframe {
    /* margin-top: 1.3em; */
}

/* Tilting 3D perspective style */
.three-d .session-container { 
    z-index: 1;
    width: 100%;
    height: 575px;
}
.three-d .session {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -300px;
    top: 50px;
    height: 500px;
    overflow-y: scroll;
    -webkit-transform: perspective(300) rotateX(20deg); /* target: perspective(300) rotateX(20deg) */
    -webkit-transform-style: preserve-3d;
    -moz-perspective: 800px;
    -moz-transform: rotateX(45deg);
    -moz-transform-style: preserve-3d;
}

/* Lateral rotation 3D style */
.lateral {  
    z-index: 1;
    height: 30px;
    overflow-y: scroll;
    -webkit-transform: perspective(300) rotateY(60deg);
    -webkit-transform-style: preserve-3d;
    -moz-perspective: 800px;
    -moz-transform: rotateX(45deg);
    -moz-transform-style: preserve-3d;
}

